html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0
}

/* label color */
.input-field label {
    color: black;
}

/* label underline focus color */
.input-field input {
    border: none !important;
    border-radius: 5px;
    background-color: white;
    padding-left: 10px;

    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.brand-logo {
	margin-left: 10px;
}
